#pomme
{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 1600px;
    border: 1px solid black;
}
header
{
    width: 1200px;
    height: 150px;
    background-color: rgb(0, 171, 120);
}
nav
{
    margin-top: 20px;
    width: 1200px;
    height: 50px;
    background-color: rgb(175, 204, 180);
    border-top: 4px solid rgb(170, 194, 170);
    border-bottom: 4px solid rgb(170, 194, 170);
}
#robe
{
    float: left;
    height: 80px;
    margin: 35px;
}
.redes
{
    float: right;
    height: 30px;
    margin-top: 60px;
}
#crayon
{
    height: 10px;
    width: 1200px;
    margin-top: 10px;
    background-color: rgb(0, 171, 120);
}
#merci
{
    margin: 0px;
    color: white;
    font-size: 80px;
    text-align: center;
    padding-top: 35px;
}
.menu
{
    width: 120px;
    height: 40px;
    margin-left: 100px; 
    border-radius: 10px;
    margin-top: 15px;
    float: left;
    text-align: center;
}
#lundi
{
    height: 500px;
    width: 500px;
    margin: 60px;
    float: left;
    border: 6px solid greenyellow;
}
#mardi
{
    margin-top: 64px;
    float: left;
    width: 500px;
    height: 500px;

}
h3
{
    text-align: center;
}
#vendri
{
    width: 1000px;
    height: 609px;
    margin-left: 100px;
    float: left;
    margin-bottom: 60px;
}
footer
{
    width: 1200px;
    height: 50px;
    background-color: rgb(0, 171, 120);
}
#clear
{
    clear: both;
}
#samadi
{
    margin-left: 500px;
    float: left;
}
h6
{
    float: left;
    color: white;
}
h1
{
    text-align: center;
}
button
{
    width: 200px;
    height: 50px;
    margin: 20px;
    margin-left: 90px;
    font-size: 20px;
    border-radius: 15px;
}
#jour
{
    height: 500px;
    width: 500px;
    margin: 60px;
    float: left;
    border: 6px solid greenyellow;
}